.main
  .info
    .info__name
      .info__name_group
        = @group.name
      .info__name_user
        - @group.group_users.each do |group_users|
          = group_users.user.name
    .info__edit
      = link_to "edit", class: "info__edit__btn" do
        Edit
  .chat
    = render @messages

  .form
    = form_for [@group, @message] do |f|
      = f.text_field :text, class: 'input_box__text', placeholder: 'type a message'
      .input_box
        = f.label :image, class: 'input_box__image' do
          = icon('fas', 'image')
          = f.file_field :image, class: 'input_box__image_file'
      = f.submit 'Send', class: 'submit_btn'
